
body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px ;
}
h1{
    margin: 0px;
}
section{
    margin-bottom: 100px;

}
.heading-color{
    color: orange;
}
.first-section{
    width: 50%;
    margin-left: 100px;
    margin-right: 80px;
    
}
.margin-top{
    margin-top: 120px;
}
.scroll-down{
    margin-top: 40px;
}
#section-1{
    display: flex;
}

.first-section img{
    width: 80%;
}
.border-left{
    border-left: 5px solid ;
    padding: 0px 5px;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
    font-size: 30px;
    box-sizing: border-box;
}

.button-a{
    text-decoration: none;
    background-image:linear-gradient(red, blue) ;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}
.center{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 50px;
}
.item{
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
}
.item-1{
    background-color: paleturquoise;
}
.item-2{
    background-color: rgb(209, 166, 166);
}
.item-3{
    background-color: rgba(22, 78, 78, 0.349);
}
#section-2-all{
    display: flex;
    margin-left: 80px;
    margin-right: 80px; 
}
.item img{
    width: 50%;
}
span{
    color: orange;
}
#section-3{
    display: flex;
}
.left-side{
    margin-right: 150px;
    margin-top: 40px;
    
}
.end-section{
    width: 50%;
    margin-left: 100px;
    
}
.end-section img{
    width:80%;
}
#section-4{
    display: flex;
}
.right-side{
    margin-top:70px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
}
footer h1{
    font-family:'Vujahday Script', cursive;
}


